#blog-posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 2rem;
  max-width: 1400px;
  margin-bottom: 2rem;
}

.post-card {
  border-radius: 8px;
  padding: 1rem;
  box-shadow: var(--clr-shadow);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.post-card:hover {
  transform: translateY(-5px);
  box-shadow: var(--clr-shadow);
}

.post-thumbnail {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
}

.post-title {
  font-size: 2rem;
  margin: 1rem 0;
}

.read-more-button {
  background-color: var(--clr-accent-800);
  color: var(--clr-neutral-900);
  font-size: inherit;
  font-weight: bolder;
  border: none;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.read-more-button:hover {
  background-color: #e5563e;
  color: var(--clr-neutral-100);
}

@media screen and (min-width: 1024px) {
  .post-card {
    width: calc(50% - 40px);
  }

  .post-thumbnail {
    max-height: 300px;
  }
}
