#blog-posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: var(--whitespace-2);
  margin-bottom: var(--whitespace-2);
}

.blog-section {
  background-color: var(--clr-accent-200);
  border-radius: var(--brad-8);
  box-shadow: var(--clr-shadow);
}

.post-card {
  padding: var(--whitespace-1);
}

.post-thumbnail {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
}

.post-title {
  margin: 1rem 0;
}

.read-more-button {
  background-color: var(--clr-neutral-900);
  color: var(--clr-neutral-100);
  font-size: inherit;
  font-weight: bolder;
  border: none;
  padding: 0.5rem 1rem;
  margin-top: var(--whitespace-1);
  border-radius: 8px;
  box-shadow: var(--clr-shadow);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.read-more-button:hover {
  background-color: var(--clr-accent-900);
}

@media screen and (min-width: 1024px) {
  .post-card {
    width: calc(50% - 40px);
  }

  .post-thumbnail {
    max-height: 300px;
  }
}
