/* @author Linda Moenstre 2023 - <linda@digitaldesigner.no> */

.blog-container {
  max-width: 1400px;
}

.blog-section {
  margin: 0 auto;
}

.blog-post {
  margin-bottom: 2rem;
  border-bottom: 1px dashed var(--clr-secondary-300);
}

.blog-post .post-link {
  text-decoration: none;
  margin: 1.5rem 0;
}

.blog-header {
  color: var(--clr-primary-900);
  border-top-right-radius: var(--brad-4);
  margin: var(--whitespace-1);
}

.blog-post .post-image {
  max-width: 100%;
  border-radius: var(--brad-8);
}

.blog-post .post-title {
  margin: 10px 0;
}

.blog-post .post-excerpt {
  color: var(--clr-neutral-700);
  margin-bottom: 10px;
}

.read-more-button {
  display: inline-block;
  background-color: var(--clr-secondary-300);
  color: var(--clr-neutral-100);
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: var(--brad-4);
  transition: background-color 0.3s ease;
  margin: 1.5rem 0;
  box-shadow: var(--clr-shadow);
}

.read-more-button:hover {
  background-color: var(--clr-secondary-700);
  text-decoration: none;
}

.blog-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: var(--whitespace-2);
}

.blog-column-left {
  background-color: var(--clr-neutral-100);
  flex: 2;
  order: 1;
  min-width: 100%;
}

.blog-column-right {
  border-left: 2px solid var(--clr-primary-300);
  flex: 1;
  order: 2;
  min-width: 100%;
}

.blog-categories,
.blog-tags {
  padding: 0 0 3rem 1rem;
}

@media screen and (min-width: 768px) {
  .blog-column-left,
  .blog-column-right {
    order: 0;
    min-width: auto;
  }
}
