/* @author Linda Moenstre 2023 - <linda@digitaldesigner.no> */

.blog-container {
  max-width: 1400px;
}

.blog-section {
  margin: 0 auto;
}

.blog-post {
  margin-bottom: 2rem;
  border-bottom: 1px dashed var(--clr-secondary-300);
}

.blog-post .post-link {
  text-decoration: none;
  margin: 1.5rem 0;
}

.blog-header {
  color: var(--clr-primary-900);
  margin-bottom: 1rem;
}

.blog-post .post-image {
  max-width: 100%;
}

.blog-post .post-title {
  margin: 10px 0;
}

.blog-post .post-excerpt {
  color: var(--clr-neutral-700);
  margin-bottom: 10px;
}

.read-more-button {
  display: inline-block;
  background-color: var(--clr-secondary-300);
  color: var(--clr-neutral-100);
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: var(--brad-4);
  transition: background-color 0.3s ease;
  margin: 1.5rem 0;
  box-shadow: var(--clr-shadow);
}

.read-more-button:hover {
  background-color: var(--clr-secondary-700);
  text-decoration: none;
}
