#blog-posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  margin: 0 auto;
  max-width: 1200px; /* Set a max-width to avoid overly wide layout */
}

/* Individual post card */
.post-card {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  width: calc(33.33% - 20px); /* Adjust width as needed */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.post-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* Post thumbnail */
.post-thumbnail {
  width: 100%;
  height: auto;
  max-height: 200px; /* Limit the thumbnail height */
  object-fit: cover;
  border-radius: 8px;
}

/* Post title */
.post-title {
  margin-top: 10px;
  font-size: 20px;
  color: #333333;
}

/* Post excerpt */
.post-excerpt {
  margin-top: 10px;
  color: #666666;
  font-size: 16px;
}

.read-more-button {
  background-color: var(--clr-accent-800);
  color: var(--clr-neutral-900);
  font-size: inherit;
  font-weight: bolder;
  border: none;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.read-more-button:hover {
  background-color: #e5563e;
  color: var(--clr-neutral-100);
}
