/* @author Linda Moenstre 2023 - <linda@digitaldesigner.no> */

footer {
  background-color: var(--clr-primary-800);
  padding: var(--whitespace-3);
}

footer {
  margin-top: auto;
}

.footer__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  place-items: center;
  gap: 1rem;
}

.footer__logo {
  width: 250px;
}

.footer__bottom {
  text-align: center;
  margin-bottom: 30px;
}

.copyright {
  font-size: 14px;
}

/* ------- MEDIA QUERIES ---------*/
@media screen and (min-width: 1024px) {
  .footer__logo {
    width: 350px;
  }
}
