/* @author Linda Moenstre 2023 - <linda@digitaldesigner.no> */

footer {
  background-color: var(--clr-primary-300);
  background-image: url(/assets/img/mollie-background.jpg);
  background-repeat: repeat;
  padding: var(--whitespace-3);
}

footer {
  margin-top: auto;
}

.footer__wrapper {
  background-color: var(--clr-primary-300);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  place-items: center;
  gap: 1rem;
  padding: 2rem;
  border-radius: var(--brad-8);
  text-align: center;
}

.footer__logo {
  width: 250px;
}
.footer__social {
  display: flex;
}

.social {

  margin: 1rem;
}

.footer__bottom {
  margin: 2rem 0;
}

.copyright {
  font-size: 14px;
    align-items: center;
}

/* ------- MEDIA QUERIES ---------*/
@media screen and (min-width: 1024px) {
  .footer__logo {
    width: 350px;
  }
}
