/* @author Linda Moenstre <linda@digitaldesigner.no> */

header {
  background-color: var(--clr-neutral-100);
  padding-bottom: var(--whitespace-1);
  box-shadow: var(--clr-shadow);
}

.hero {
  background-image: url(../assets/img/mollie-treats.jpg);
  background-size: cover;
  background-position: center right;
  min-height: 500px;
  color: var(--clr-accent-900);
}

.hero-text {
  padding: 20rem 0 0 2rem;
}

input {
  background-color: var(--clr-lightbrown-100);
  color: var(--clr-primary-800);
  border: solid 1px var(--clr-primary-600);
  height: 42px;
  padding-left: 0.5rem;
  border-radius: var(--brad-4);
  opacity: 0.5;
}

.search-wrapper {
  position: relative;
}

.search__position {
  position: absolute;
  z-index: 50;
  inset: 2.5rem 2rem 0 auto;
}

.search {
  display: flex;
  justify-items: center;
  gap: 0.5rem;
}

/* ------- MEDIA QUERIES ---------*/
@media screen and (min-width: 768px) {
  .mobile {
    display: none;
  }

  nav ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
  }

  .logo {
    max-width: 250px;
    padding: 2rem 0;
    margin: auto;
  }
}

@media screen and (max-width: 769px) {
  .desktop {
    display: none;
  }

  nav {
    position: relative;
  }

  nav ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    z-index: 900;
  }

  .search__position {
    inset: 2rem 0 1rem auto;
  }

  .logo {
    max-width: 200px;
    padding: 2rem 1rem;
  }

  .mobile__img {
    max-height: 68px;
    margin: 1rem 0;
  }

  .hero {
    background-image: url(../assets/img/mollie-treats_medium.jpg);
    background-size: cover;
    color: var(--clr-accent-900);
    height: 550px;
    margin-bottom: var(--whitespace-1);
  }

  .hero-text {
    padding: 24rem 0 0 1.5rem;
  }
}

@media screen and (min-width: 1441px) {
  .search__position {
    inset: 2.5rem 2rem 2rem auto;
  }
}
