/* @author Linda Moenstre <linda@digitaldesigner.no> */

header {
  background-color: var(--clr-neutral-100);
  padding: 1rem;
}

.header__top {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header__search {
  display: flex;
  justify-items: center;
  gap: 0.5rem;
}

/* hide search in desktop mode */
.desktop {
  display: none;
}

/* ----------- FORMS ---------- */

input {
  background-color: var(--clr-lightgrey-100);
  color: var(--clr-primary-800);
  border: solid 1px var(--clr-primary-600);
  height: 42px;
  padding-left: 0.5rem;
  border-radius: var(--brad-4);
  opacity: 0.5;
}

/*--------ICONS -------*/

.material-symbols-rounded {
  font-size: 40px;
  color: var(--clr-accent-600);
}

.material-symbols-rounded:hover {
  background-color: var(--clr-primary-800);
  color: var(--clr-neutral-100);
}

.material-symbols-rounded.nav__search__btn {
  color: var(--clr-neutral-900);
}
.material-symbols-rounded.search:hover {
  background-color: var(--clr-neutral-900);
  color: var(--clr-neutral-100);
}

/* ------- MEDIA QUERIES ---------*/
@media screen and (max-width: 768px) {

  /* hide header search in mobile view */
  .mobile {
    display: none;
  }
}

@media screen and (min-width: 1441px) {

header {
  margin-top: 2rem;
}
}

