/* @author Linda Moenstre <linda@digitaldesigner.no> */

.material-symbols-rounded.search-btn {
  background-color: var(--clr-neutral-900);

  color: var(--clr-neutral-100);
  height: 38px;
  width: 38px;
  border-radius: 50%;
}

/* --------------- NAV ------------*/

@media screen and (max-width: 769px) {
  .desktop {
    display: none;
  }

  nav {
    position: relative;
  }

  nav ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    /* position: fixed; */
    width: 100vw;
    z-index: 900;
  }

  .search__position {
    inset: 2rem 0 1rem auto;
  }

  .logo {
    max-width: 200px;
    padding: 2.5rem 1rem;
  }

  .mobile__img {
    max-height: 68px;
    margin: 1rem 0;
  }
}


/* ----------- FORMS ---------- */

input {
  background-color: var(--clr-lightgrey-100);
  color: var(--clr-primary-800);
  border: solid 1px var(--clr-primary-600);
  height: 42px;
  padding-left: 0.5rem;
  border-radius: var(--brad-4);
  opacity: 0.5;
}

.search-wrapper {
  position: relative;
}

.search__position {
  position: absolute;
  z-index: 50;
  inset: 2.5rem 2rem 0 auto;
}

.search {
  display: flex;
  justify-items: center;
  gap: 0.5rem;
}

/*--------ICONS -------*/

.material-symbols-rounded {
  font-size: 40px;
  background-color: none;
  border-radius: var(--brad-50);
}

/* ------- MEDIA QUERIES ---------*/
@media screen and (min-width: 768px) {
  .mobile {
    display: none;
  }

  nav ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    width: 90%;
  }

  .logo {
    max-width: 250px;
    padding: 2rem 0 1rem;
    margin: auto;
  }
}

@media screen and (min-width: 1441px) {
  .search__position {
    inset: 2.5rem 2rem 2rem auto;
  }
}
