.product {
  border-radius: 8px;
  box-shadow: var(--clr-shadow);
}

.product-image {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 275px;
  margin-top: 0.5rem;
}

@media screen and (min-width: 768px) {

  .product-image {
    height: 400px;
  }
}
