.product {
  background-color: var(--clr-neutral-100);
  padding: var(--whitespace-1);
  margin: 0.5rem;
  border-radius: var(--brad-8);
  box-shadow: var(--clr-shadow);
}

.product-image {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 300px;
  margin-top: 0.5rem;
}

@media screen and (min-width: 768px) {
  .product-image {
    min-height: 400px;
  }
}
