/* @author Linda Moenstre 2023 - <linda@digitaldesigner.no> */

.buy-button {
  font-size: var(--fs-400);
  font-weight: bolder;
  text-transform: uppercase;
  background-color: var(--clr-primary-900);
  color: var(--clr-primary-600);
  box-shadow: var(--clr-shadow);
  border: none;
  border-radius: var(--brad-8);
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.buy-button:hover,
.buy-button:focus {
  background-color: var(--clr-accent-900);
  color: var(--clr-neutral-100);
}

.product {
  background-color: var(--clr-neutral-100);
  padding: var(--whitespace-1);
  margin: 0.5rem;
  border-radius: var(--brad-8);
  box-shadow: var(--clr-shadow);
}

.product-image {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 300px;
  margin-top: 0.5rem;
}

@media screen and (min-width: 768px) {
  .product-image {
    min-height: 400px;
  }
}
