/* @author Linda Moenstre <linda@digitaldesigner.no> */

@font-face {
  font-family: "manrope";
  font-weight: 400;
  src: url("../assets/fonts/manrope-400.woff2") format("woff2");
}

:root {
  --clr-body: #000000;
  --clr-primary-800: #175c6c;
  --clr-primary-600: #257385;
  --clr-secondary: #e6a8a9;
  --clr-accent-600: #83393a;
  --clr-accent-800: #742728;
  --clr-breadcrumb: #7e7e7e;
  --clr-lightgrey-100: #f8f8f8;
  --clr-darkgrey-700: #425359;

  --clr-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

  --fs-300: clamp(0.88rem, calc(0.86rem + 0.09vw), 0.94rem);
  --fs-400: clamp(1.13rem, calc(1.09rem + 0.17vw), 1.25rem);
  --fs-500: clamp(1.69rem, calc(1.64rem + 0.26vw), 1.88rem);
  --fs-600: clamp(2.25rem, calc(2.19rem + 0.35vw), 2.5rem);
  --fs-700: clamp(3.38rem, calc(3.28rem + 0.52vw), 3.75rem);
  --fs-800: clamp(4.5rem, calc(4.37rem + 0.7vw), 5rem);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}

body {
  font-family: "manrope", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-size: var(--fs-400);
  color: var(--clr-body);
  letter-spacing: 0.06rem;
  line-height: 1.4;
}

h1,
h2,
h3,
h4 {
  line-height: 1.1;
  text-wrap: balance;
  /* margin-bottom: 1rem; */
}

h1 {
  font-size: var(--fs-700);
  text-transform: uppercase;
  padding-top: 1em;
}

h2 {
  font-size: var(--fs-600);
}

h3 {
  font-size: var(--fs-500);
}
h4 {
  font-size: var(--fs-300);
  color: var(--clr-darkgrey-700);
  text-transform: uppercase;
}

p {
  /* margin-bottom: 1rem; */
}

a {
  color: var(--clr-primary-800);
}

a:hover,
a:focus {
  color: var(--clr-primary-600);
}

.wrapper {
  width: min(100% - 3rem, 85ch);
  margin-inline: auto;
}

.flow > * + * {
  margin-top: var(--flow-space, 1em);
}

.main-layout {
  min-height: 100vh;
  min-height: 100vdh;

  display: grid;
  grid-template-rows:
    auto
    1fr
    auto;

  border: 3px solid red;
}

header {
  background-color: #fff;
}

main {
  background-color: #e2e2e2;
}

footer {
  background-color: var(--clr-lightgrey-100);
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.footer-logo img {
  width: 150px;
}

.copyright {
  font-size: 14px;
}

.media-scroller {
  width: 100%;
  /* height: 200px; */
  /* aspect-ratio: 16 / 9; */
  /* aspect-ratio: 1 / 2; */
  /* aspect-ratio: 1 / 1; */
  object-fit: cover;
}

/* --------MEDIA QUERIES-------*/
@media screen and (min-width: 1024px) {
  body {
    line-height: 1.6;
  }
}
