/* @author Linda Moenstre 2023 - <linda@digitaldesigner.no> */

@import url(header.css);
@import url(main.css);
@import url(blog.css);
@import url(footer.css);

:root {
  --clr-body: #333333;
  --clr-neutral-100: #ffffff;
  --clr-neutral-300: #f5f5ef;
  --clr-neutral-700: #bfbfbf;
  --clr-neutral-900: #333333;
  --clr-primary-300: #dfeef2;
  --clr-primary-600: #72a7ba;
  --clr-primary-800: #00778f;
  --clr-primary-900: #00546c;
  --clr-secondary-100: #e9eddd;
  --clr-secondary-300: #cad4a9;
  --clr-secondary-500: #a9b872;
  --clr-secondary-700: #96a953;
  --clr-secondary-900: #708e15;

  --clr-accent-200: #fff9ec;
  --clr-accent-900: #d6bf72;

  --clr-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;

  --clr-shadow-up: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;

  --ff-primary: "manrope", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;

  --fs-300: clamp(0.88rem, calc(0.86rem + 0.09vw), 0.94rem);
  --fs-400: clamp(1.13rem, calc(1.09rem + 0.17vw), 1.25rem);
  --fs-500: clamp(1.69rem, calc(1.64rem + 0.26vw), 1.88rem);
  --fs-600: clamp(2.25rem, calc(2.19rem + 0.35vw), 2.5rem);
  --fs-700: clamp(3.38rem, calc(3.28rem + 0.52vw), 3.75rem);

  --whitespace-1: 1.2rem;
  --whitespace-2: 2rem;
  --whitespace-3: 3rem;

  --brad-4: 4px;
  --brad-8: 8px;
  --brad-50: 50px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  min-height: 100%;
  color: var(--clr-body);
  font-family: var(--ff-primary);
  font-size: var(--fs-300);
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
}

.background {
  background-color: var(--clr-nautral-100);
}

img,
svg,
header {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4 {
  letter-spacing: 0.06rem;
  line-height: 1.1;
  text-wrap: balance;
  /* word-break: break-all; */
}

h1,
h2 {
  color: var(--clr-neutral-900);
  text-transform: uppercase;
}

h1 {
  font-size: var(--fs-600);
}

h2 {
  font-size: var(--fs-500);
}

h3 {
  font-size: var(--fs-500);
  text-transform: none;
}
h4 {
  font-size: var(--fs-400);
  color: var(--clr-primary-800);
  /* text-transform: uppercase; */
}

p {
  font-size: var(--fs-400);
  color: var(--clr-neutral-900);
}

.breadcrumb {
  font-size: var(--fs-300);
  margin-bottom: var(--whitespace-3);
  text-transform: none;
}

::selection {
  background-color: var(--clr-secondary-300);
}

a {
  cursor: pointer;
  font-weight: bolder;
  text-transform: uppercase;
  text-decoration: none;
}

a:link {
  color: var(--clr-neutral-900);
}

a:hover,
a:focus {
  color: var(--clr-primary-900);
}

a:visited {
  color: var(--clr-neutral-900);
}

.active {
  border-bottom: 2px dotted var(--clr-primary-900);
}

li {
  list-style: none;
  text-decoration: none;
}

.light {
  color: var(--clr-neutral-100);
  padding-bottom: 1rem;
}

main {
  max-width: 1440px;
  margin: auto;
  padding: 0.75rem;
}

/* .media-scroller {
  width: 100%;
  height: 200px;
  aspect-ratio: 16 / 9;
  aspect-ratio: 1 / 2;
  aspect-ratio: 1 / 1;
  object-fit: cover;
} */

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

.more-button {
  font-weight: bold;
  text-transform: uppercase;
  background-color: var(--clr-secondary-500);
  color: var(--clr-nautral-100);
  letter-spacing: 2px;
  border: none;
  border-radius: var(--brad-8);
  padding: 0.25rem 0.75rem;
  box-shadow: var(--clr-shadow);
}

.more-button:hover,
.more-button:focus,
.more-button:active {
  background-color: var(--clr-secondary-700);
}

.banner-wrapper {
  background-color: var(--clr-primary-300);
  border-radius: var(--brad-8);
  padding: 1rem;
  margin: 1rem 0;
}

.arrow-right {
  font-weight: lighter;
  color: var(--clr-secondary-900);
}

.hide {
  display: none;
}

.material-symbols-rounded {
  font-size: 28px;
}

@keyframes pulsate {
  0% {
    transform: scale(1);
    opacity: 0.7;
  }
  50% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0.7;
  }
}

.pulsing-star {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 25%;
  left: 20%;
  transform: translate(-50%, -50%);
  animation: pulsate 1.5s ease-in-out infinite;
  background-color: var(--clr-accent-900);
  clip-path: polygon(
    50% 0%,
    61% 38%,
    100% 38%,
    68% 61%,
    79% 100%,
    50% 76%,
    21% 100%,
    32% 61%,
    0% 38%,
    39% 38%
  );
}

.hidden {
  display: none;
}

/* ------ products ---------- */

.product {
  padding: 20px;
  text-align: center;
}

.product img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}

.product-details {
  display: grid;
  grid-template-columns: minmax(200px, 1fr);
  padding: var(--whitespace-2);
  gap: 1rem;
  margin: 1rem 0;
}

.product-details img {
  max-width: 250px;
  margin-right: 1.5rem;
}

.product-details a {
  background-color: var(--clr-primary-900);
  color: var(--clr-neutral-100);
  border: none;
  padding: 0.5rem 0.75rem;
  border-radius: var(--brad-8);
  width: fit-content;
  cursor: pointer;
}

.product-details button:hover {
  background-color: var(--clr-primary-600);
}

div.featured-container {
  gap: 2rem;
  margin-bottom: 3rem;
}

/*--------MEDIA QUERIES------- */
@media screen and (min-width: 768px) {
  main {
    line-height: 1.6;
    padding: 0 2rem;
    margin-top: 2rem;
  }

  .grid {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }

  .material-symbols-rounded {
    font-size: 32px;
  }
}
