/* @author Linda Moenstre <linda@digitaldesigner.no> */

@import url(header.css);
@import url(footer.css);

@font-face {
  font-family: "manrope";
  font-weight: 400;
  src: url("../assets/fonts/manrope-400.woff2") format("woff2");
}

:root {
  --clr-body: #000000;
  --clr-neutral-100: #ffffff;
  --clr-neutral-700: #4d4d4d;
  --clr-neutral-900: #333333;
  --clr-primary-600: #00ddff;
  --clr-primary-800: #0049b7;
  --clr-accent-300: #ffea19;
  --clr-accent-400: #ffe0ed;
  --clr-accent-600: #f75990;
  --clr-accent-800: #ff1d58;
  --clr-breadcrumb: #7e7e7e;
  --clr-lightgrey-100: #f8f8f8;
  --clr-darkgrey-700: #a2aeb1;

  --clr-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

  --clr-shadow-nav: rgba(0, 0, 0, 0.16) 0px 3px 6px,
    rgba(0, 0, 0, 0.23) 0px 3px 6px;

  --clr-shadow-up: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;

  --ff-primary: "manrope", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;

  --fs-300: clamp(0.88rem, calc(0.86rem + 0.09vw), 0.94rem);
  --fs-400: clamp(1.13rem, calc(1.09rem + 0.17vw), 1.25rem);
  --fs-500: clamp(1.69rem, calc(1.64rem + 0.26vw), 1.88rem);
  --fs-600: clamp(2.25rem, calc(2.19rem + 0.35vw), 2.5rem);
  --fs-700: clamp(3.38rem, calc(3.28rem + 0.52vw), 3.75rem);

  --whitespace-1: 1rem;
  --whitespace-2: 2rem;
  --whitespace-3: 3rem;

  --brad-4: 4px;
  --brad-8: 8px;
  --brad-50: 50px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: var(--clr-accent-400);  
  scroll-behavior: smooth;
  height: 100%;
}

.flow > * + * {
  margin-top: var(--flow-space, 1em);
}

body {
  max-width: 1440px;
  min-height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: var(--clr-neutral-100);
  color: var(--clr-body);
  font-family: var(--ff-primary);
  font-size: var(--fs-400);
  letter-spacing: 0.06rem;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
}

img,
svg,
header {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4 {
  line-height: 1.1;
  text-wrap: balance;
}

h1 {
  font-size: var(--fs-700);
  text-transform: uppercase;
}

h2 {
  font-size: var(--fs-600);
}

h3 {
  font-size: var(--fs-500);
}
h4 {
  font-size: var(--fs-300);
  color: var(--clr-darkgrey-700);
  text-transform: uppercase;
}

p {
  font-size: var(--fs-400);
  /* margin-bottom: 1rem; */
}

::selection {
  background-color: var(--clr-secondary);
}

.active {
  text-decoration: underline;
  text-decoration-color: var(--clr-primary-600);
  text-decoration-thickness: 3px;
  text-shadow: rgb(222, 255, 38) 1px 0 10px;
}

a {
  cursor: pointer;
  color: var(--clr-neutral-900);
  font-weight: bolder;
  text-transform: uppercase;
  text-decoration: none;
}

a:link {
  color: var(--clr-neutral-900);
}

a:hover,
a:focus {
  color: var(--clr-primary-800);
  font-weight: bold;
}

a:visited {
  color: var(--clr-primary-800);
}

li {
  list-style: none;
  text-decoration: none;
}

main {
  background-color: var(--clr-neutral-100);
  margin-top: 7rem;
}

/* .media-scroller {
  width: 100%;
  height: 200px;
  aspect-ratio: 16 / 9;
  aspect-ratio: 1 / 2;
  aspect-ratio: 1 / 1;
  object-fit: cover;
} */

button {
  position: relative;
  cursor: pointer;
  background-color: var(--clr-primary-800);
  color: var(--clr-neutral-100);
}

.backtotop {
  position: absolute;
  bottom: 30px;
  right: 20px;
  width: 34px;
  height: 34px;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: var(--brad-50);
  background-color: var(--clr-primary-800);
  box-shadow: var(--clr-shadow-nav);
  display: none;
}

.backtotop:hover,
.backtotop:focus {
  background-color: var(--clr-primary-600);
  color: var(--clr-body);
  opacity: 0.8;
}

.material-symbols-rounded {
  font-size: 28px;
}

/* ---------- FOOTER ----------- */
footer {
  background-color: var(--clr-accent-400);
  padding: var(--whitespace-3);
}

footer {
  margin-top: auto;
}

.footer__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  place-items: center;
  gap: 1rem;
}

.footer__logo {
  width: 150px;
}

.footer__bottom {
  text-align: center;
  margin-bottom: 30px;
}

.copyright {
  font-size: 14px;
}

/*--------MEDIA QUERIES------- */
@media screen and (min-width: 768px) {
  html {
    margin: 1.5rem;
  }

  main {
    margin-top: 210px;
    line-height: 1.6;
    padding: 0 2rem;
  }

  .material-symbols-rounded {
    font-size: 32px;
  }

  .backtotop {
    bottom: 40px;
    right: 50px;
    width: 48px;
    height: 48px;
  }
}
