/* @author Linda Moenstre <linda@digitaldesigner.no> */

@import url(header.css);
@import url(main.css);
@import url(blog.css);
@import url(footer.css);

:root {
  --clr-body: #000000;
  --clr-neutral-100: #ffffff;
  --clr-neutral-300: #d2d9df;
  --clr-neutral-700: #868686;
  --clr-neutral-900: #333333;
  --clr-primary-600: #868686;
  --clr-primary-800: #9cbcb1;
  --clr-primary-900: #2b3542;
  --clr-accent-200: #fbd6cb;
  --clr-accent-300: #f9b9a5;
  --clr-accent-400: #ffe4c7;
  --clr-accent-800: #f4764e;
  --clr-accent-900: #e5563e;

  --clr-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;

  --clr-shadow-nav: rgba(0, 0, 0, 0.16) 0px 3px 6px,
    rgba(0, 0, 0, 0.23) 0px 3px 6px;

  --clr-shadow-up: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;

  --ff-primary: "manrope", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;

  --fs-300: clamp(0.88rem, calc(0.86rem + 0.09vw), 0.94rem);
  --fs-400: clamp(1.13rem, calc(1.09rem + 0.17vw), 1.25rem);
  --fs-500: clamp(1.69rem, calc(1.64rem + 0.26vw), 1.88rem);
  --fs-600: clamp(2.25rem, calc(2.19rem + 0.35vw), 2.5rem);
  --fs-700: clamp(3.38rem, calc(3.28rem + 0.52vw), 3.75rem);

  --whitespace-1: 1rem;
  --whitespace-2: 2rem;
  --whitespace-3: 3rem;

  --brad-4: 4px;
  --brad-8: 8px;
  --brad-50: 50px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

.flow > * + * {
  margin-top: var(--flow-space, 1em);
}

body {
  min-height: 100%;
  color: var(--clr-body);
  font-family: var(--ff-primary);
  font-size: var(--fs-400);
  letter-spacing: 0.06rem;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
}

.background {
  background-image: linear-gradient(
    to top,
    #fbd6cb,
    #fbd0c4,
    #fbcbbc,
    #fac5b5,
    #fac0ae,
    #fac0ae,
    #fac0ae,
    #fac0ae,
    #fac5b5,
    #fbcbbc,
    #fbd0c4,
    #fbd6cb
  );
}

img,
svg,
header {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4 {
  line-height: 1.1;
  text-wrap: balance;
}

h1,
h2 {
  font-size: var(--fs-600);
  text-transform: uppercase;
  padding: 2rem 1rem;
  color: var(--clr-accent-900);
}

h2 {
  font-size: var(--fs-500);
}

h3 {
  font-size: var(--fs-400);
}
h4 {
  font-size: var(--fs-300);
  color: var(--clr-accent-900);
  text-transform: uppercase;
}

p {
  font-size: var(--fs-400);
  /* margin-bottom: 1rem; */
}

::selection {
  background-color: var(--clr-secondary);
}

a {
  cursor: pointer;
  font-weight: bolder;
  text-transform: uppercase;
  text-decoration: none;
}

a:link {
  color: var(--clr-neutral-900);
}

a:hover,
a:focus,
.active {
  color: var(--clr-primary-900);
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 3px;
  text-underline-offset: 6px;
  text-decoration-color: var(--clr-accent-800);
}

a:visited {
  color: var(--clr-neutral-900);
}

li {
  list-style: none;
  text-decoration: none;
}

main {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 0.75rem;
}

/* .media-scroller {
  width: 100%;
  height: 200px;
  aspect-ratio: 16 / 9;
  aspect-ratio: 1 / 2;
  aspect-ratio: 1 / 1;
  object-fit: cover;
} */

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 1rem;
}

button {
  position: relative;
  cursor: pointer;
  color: var(--clr-neutral-100);
}

.backtotop {
  position: absolute;
  bottom: 30px;
  right: 20px;
  width: 34px;
  height: 34px;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: var(--brad-50);
  background-color: var(--clr-primary-900);
  box-shadow: var(--clr-shadow-nav);
  display: none;
}

.backtotop:hover,
.backtotop:focus {
  background-color: var(--clr-primary-800);
  color: var(--clr-neutral-900);
  opacity: 0.8;
}

.material-symbols-rounded {
  font-size: 28px;
}

/*--------MEDIA QUERIES------- */
@media screen and (min-width: 768px) {
  main {
    line-height: 1.6;
    padding: 0 2rem;
    margin-top: 3rem;
  }

  .material-symbols-rounded {
    font-size: 32px;
  }

  .backtotop {
    bottom: 40px;
    right: 50px;
    width: 48px;
    height: 48px;
  }
}
